/AttendantStation.class
/BarcodedProduct.class
/BidirectionalChannel.class
/CoinTray.class
/DoItYourselfStation.class
/PLUCodedItem.class
/PLUCodedProduct.class
/PriceLookUpCode.class
/Product.class
/UnidirectionalChannel.class
